<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>
      {{selectedBooking? 'Editing': 'Adding'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--  -->

<ion-content class="ion-padding">
  <form [formGroup]="Form" *ngIf="sharedService.patientId && sharedService.patientId != 'null'">
    <ion-list>
      <div *ngIf="isTouched && getInput('GroupId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('GroupId').errors.required">Group required</span>
     </div>
      <ion-item>
        <ion-label>Group</ion-label>
        <ion-select placeholder="Select One" formControlName="GroupId" (ngModelChange)="GroupChange($event)">
          <ion-select-option *ngFor="let item of Groups" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && getInput('ServiceId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('ServiceId').errors.required">Service required</span>
     </div>
      <ion-item>
        <ion-label>Service</ion-label>
        <ion-select placeholder="Select One" formControlName="ServiceId">
          <ion-select-option *ngFor="let item of Services" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && getInput('DoctorId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('DoctorId').errors.required">Doctor required</span>
     </div>
      <ion-item>
        <ion-label>Doctor</ion-label>
        <ion-select placeholder="Select One" formControlName="DoctorId">
          <ion-select-option *ngFor="let item of Doctors" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && ShowEyeType && getInput('EyeType').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('EyeType').errors.required">EyeType required</span>
     </div>
      <ion-item *ngIf="ShowEyeType">
        <ion-label>Eye Type</ion-label>
        <ion-select placeholder="Select One" formControlName="EyeType">
          <ion-select-option value="0">OS</ion-select-option>
          <ion-select-option value="1">OD</ion-select-option>
          <ion-select-option value="2">OU</ion-select-option>
          <ion-select-option value="3">None</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && getInput('BranchId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('BranchId').errors.required">Branch required</span>
     </div>
      <ion-item>
        <ion-label>Branch</ion-label>
        <ion-select placeholder="Select One" formControlName="BranchId">
          <ion-select-option *ngFor="let item of Branches" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && getInput('ReservationDate').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('ReservationDate').errors.required">Date required</span>
     </div>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime [min]="minDate" formControlName="ReservationDate" [max]="maxDate" placeholder="Select Date"></ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-text-center">
      <button (click)="save()"> {{selectedBooking? 'Edit': 'Save'}}</button>
    </div>
    
  </form>

  <form [formGroup]="NewPatientForm" *ngIf="!sharedService.patientId || sharedService.patientId == 'null'">
    <ion-list>
      <div *ngIf="isTouched && getInput('FNameAr').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('FNameAr').errors.required">FirstName In Arabic Required</span>
      </div>
      <ion-item no-lines>
        <ion-input  placeholder="First Name In Arabic" formControlName="FNameAr" name="FNameAr"></ion-input>
      </ion-item>

      <div *ngIf="isTouched && getInput('FNameEn').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('FNameEn').errors.required">FirstName In English Required</span>
      </div>
      <ion-item no-lines>
        <ion-input  placeholder="First Name In English" formControlName="FNameEn" name="FNameEn"></ion-input>
      </ion-item>

      <div *ngIf="isTouched && getInput('MiddleNameAr').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('MiddleNameAr').errors.required">MiddleName In Arabic Required</span>
      </div>
      <ion-item no-lines>
        <ion-input  placeholder="Middle Name In Arabic" formControlName="MiddleNameAr" name="MiddleNameAr"></ion-input>
      </ion-item>

      <div *ngIf="isTouched && getInput('MiddleNameEn').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('MiddleNameEn').errors.required">MiddleName In English Required</span>
      </div>
      <ion-item no-lines>
        <ion-input  placeholder="Middle Name In English" formControlName="MiddleNameEn" name="MiddleNameEn"></ion-input>
      </ion-item>

      <div *ngIf="isTouched && getInput('LastnameAr').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('LastnameAr').errors.required">LastName In Arabic Required</span>
      </div>
      <ion-item no-lines>
        <ion-input  placeholder="Last Name In Arabic" formControlName="LastnameAr" name="LastnameAr"></ion-input>
      </ion-item>

      <div *ngIf="isTouched && getInput('LastNameEn').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('LastNameEn').errors.required">LastName In English Required</span>
      </div>
      <ion-item no-lines>
        <ion-input  placeholder="Last Name In English" formControlName="LastNameEn" name="LastNameEn"></ion-input>
      </ion-item>

      <div *ngIf="isTouched && getInput('Mobile').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('Mobile').errors.required">Mobile required</span>
        <span *ngIf="getInput('Mobile').errors.minlength">Mobile must be 10 number</span>
        <span *ngIf="getInput('Mobile').errors.maxlength">Mobile must be 20 number</span>
        <span *ngIf="getInput('Mobile').errors.zeroError && !getInput('Mobile').errors.minlength">Mobile must start with 0</span>
      </div>
      <ion-item no-lines>
        <ion-input  placeholder="Mobile" formControlName="Mobile" name="Mobile" type="number" minlength="10" maxlength="20"></ion-input>
      </ion-item>

      <div *ngIf="isTouched && getInput('DOB').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('DOB').errors.required">Birthday required</span>
     </div>
      <ion-item>
        <ion-label>Birthday</ion-label>
        <ion-datetime [min]="minDateForDOB" formControlName="DOB" [max]="maxDateForDOB" placeholder="Select Date"></ion-datetime>
      </ion-item>

      <div *ngIf="isTouched && ShowEyeType && getInput('Gender').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('Gender').errors.required">Gender required</span>
     </div>
      <ion-item *ngIf="ShowEyeType">
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One" formControlName="Gender">
          <ion-select-option [value]="true">Male</ion-select-option>
          <ion-select-option [value]="false">Female</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && getInput('GroupId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('GroupId').errors.required">Group required</span>
     </div>
      <ion-item>
        <ion-label>Group</ion-label>
        <ion-select placeholder="Select One" formControlName="GroupId" (ngModelChange)="GroupChange($event)">
          <ion-select-option *ngFor="let item of Groups" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && getInput('ServiceId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('ServiceId').errors.required">Service required</span>
     </div>
      <ion-item>
        <ion-label>Service</ion-label>
        <ion-select placeholder="Select One" formControlName="ServiceId">
          <ion-select-option *ngFor="let item of Services" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && getInput('DoctorId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('DoctorId').errors.required">Doctor required</span>
     </div>
      <ion-item>
        <ion-label>Doctor</ion-label>
        <ion-select placeholder="Select One" formControlName="DoctorId">
          <ion-select-option *ngFor="let item of Doctors" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div *ngIf="isTouched && ShowEyeType && getInput('EyeType').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('EyeType').errors.required">EyeType required</span>
     </div>
      <ion-item *ngIf="ShowEyeType">
        <ion-label>Eye Type</ion-label>
        <ion-select placeholder="Select One" formControlName="EyeType">
          <ion-select-option value="0">OS</ion-select-option>
          <ion-select-option value="1">OD</ion-select-option>
          <ion-select-option value="2">OU</ion-select-option>
          <ion-select-option value="3">None</ion-select-option>
        </ion-select>
      </ion-item>

     

      <div *ngIf="isTouched && getInput('BranchId').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('BranchId').errors.required">Branch required</span>
     </div>
      <ion-item>
        <ion-label>Branch</ion-label>
        <ion-select placeholder="Select One" formControlName="BranchId">
          <ion-select-option *ngFor="let item of Branches" [value]="item.Id">{{item.NameEn}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <div *ngIf="isTouched && getInput('ReservationDate').invalid" class="tool-tip-cont">
        <span *ngIf="getInput('ReservationDate').errors.required">Date required</span>
     </div>
      <ion-item>
        <ion-label>Reservation Date</ion-label>
        <ion-datetime [min]="minDate" formControlName="ReservationDate" [max]="maxDate" placeholder="Select Date"></ion-datetime>
      </ion-item>

      
    </ion-list>
    <div class="ion-text-center">
      <button (click)="saveNwePatient()">Save</button>
    </div>
    
  </form>

</ion-content>
