<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="img-section">
    <div class="img-cont">
      <img [src]="sharedService.displayImg(sharedService.profileData?.photo)">
    </div>
  </div>
  <p><span>FirstName :</span> mohamed</p>
  <p><span>MiddleName :</span> mohamed</p>
  <p><span>LastName :</span> mohamed</p>
  <p><span>SSN :</span> mohamed</p>
  <p><span>PatientNo :</span> mohamed</p>
  <p><span>Email :</span> mohamed</p>
  <p><span>Mobile :</span> mohamed</p>
  <p><span>Country :</span> mohamed</p>
  <p><span>City :</span> mohamed</p>
  <p><span>Address :</span> mohamed</p>
</ion-content>
