<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="img-section">
    <div class="img-cont">
      <img [src]="sharedService.displayImg(sharedService.profileData?.photo)">
    </div>
  </div>
  <p><span>FirstName :</span> {{sharedService.profileData?.fNameEn}}</p>
  <p><span>MiddleName :</span> {{sharedService.profileData?.middleNameEn}}</p>
  <p><span>LastName :</span> {{sharedService.profileData?.lastNameEn}}</p>
  <p><span>SSN :</span> {{sharedService.profileData?.personalIdNumber}}</p>
  <p><span>PatientNo :</span> {{sharedService.profileData?.patientNumber}}</p>
  <p><span>Email :</span> {{Email}}</p>
  <p><span>Mobile :</span> {{sharedService.profileData?.address?.mobile}}</p>
  <p><span>Country :</span> {{sharedService.profileData?.address?.country}}</p>
  <p><span>City :</span> {{sharedService.profileData?.address?.city}}</p>
  <p><span>Address :</span> {{sharedService.profileData?.address?.address}}</p>
</ion-content>
