<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Booking
    </ion-title>
    <ion-buttons slot="end" *ngIf="sharedService.patientId && sharedService.patientId != 'null'">
      <ion-button (click)="openAdding()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center center" *ngIf="!IsLoading && Reservations.length < 1">
    <b>Sorry!</b>
    <br>
    <img src="assets/images/empty.png"/>
    <br>
    <p>
      There is no reservations yet.
    </p>
  </div>

  <div *ngIf="Reservations.length > 0">
    <ion-card *ngFor="let item of Reservations" (click)="openDetails(item)">
      <ion-card-header>
        Dr.Name: {{item.DoctorName}}
      </ion-card-header>
      <ion-card-content>
        Reservation Date: {{item.ReservationDate | date:'dd/MM/yyy'}}
      </ion-card-content>
    </ion-card>      
  </div>

</ion-content>
