<ion-app>
  <ion-menu side="start" swipeGesture="false" class="menu menu-1" menuId="first" contentId="content1">
    <ion-content>
        <ion-list lines="full">
            <ion-menu-toggle auto-hide="true">
                <ion-item routerLink="/profile">
                  <ion-avatar>
                    <ion-img [src]="sharedService.displayImg(sharedService.profileData?.photo)"></ion-img>
                </ion-avatar>
                    <ion-label style="font-weight: bold;">
                        {{sharedService.UserName}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <!-- <ion-menu-toggle auto-hide="true">
              <ion-item routerLink="/tabs/home">
                  <ion-icon name="home" slot="start"></ion-icon>
                  <ion-label>
                      Home
                  </ion-label>
              </ion-item>
          </ion-menu-toggle> -->

            <ion-menu-toggle auto-hide="true">
                <ion-item routerLink="/sevices">
                  <ion-icon name="settings-outline"></ion-icon>
                    <ion-label>
                        Services
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="true">
                <ion-item routerLink="/about-us">
                  <ion-icon name="reader-outline"></ion-icon>
                    <ion-label>
                       About Us
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="true">
                <ion-item routerLink="/booking">
                  <ion-icon name="laptop-outline"></ion-icon>
                    <ion-label>
                        Online Booking
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="true">
                <ion-item routerLink="/qr-code">
                  <ion-icon name="qr-code-outline"></ion-icon>
                    <ion-label>
                        Qr Code
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>

            <!-- <ion-menu-toggle auto-hide="true">
                <ion-item routerLink="/get-in-touch">
                  <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                    <ion-label>
                        Get In Touch
                    </ion-label>
                </ion-item>
            </ion-menu-toggle> -->

            <ion-menu-toggle auto-hide="true">
              <ion-item (click)="logout()">
                  <ion-icon name="log-out" slot="start"></ion-icon>
                  <ion-label>
                      Logout
                  </ion-label>
              </ion-item>
          </ion-menu-toggle>

            <div class="social">
              <span style="font-weight: bold;">FOLLOW US</span>
              <br>
              <ion-icon class="ion" (click)="goTofacebookPage()"  name="logo-facebook"></ion-icon>
              <ion-icon class="ion" (click)="goToTwitter()"  name="logo-twitter"></ion-icon>
              <ion-icon class="ion" (click)="goToInstagram()" name="logo-instagram"></ion-icon>
              <hr class="customHr">
              <ion-icon name="call"></ion-icon><span class="white">(+02)3762 4276</span>
              <br>
              <ion-icon name="mail"></ion-icon><span class="white">info@almoneer.com</span>
      
            </div>
        </ion-list>
    </ion-content>
</ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
