.social{
    color:#201872;
    font-size: 1em;
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 10%; 
  }

  .white{
    padding-left:3%;
    color:white;
    font-size : 0.8em;
  }

  .customHr{
    background:#201872;
    height: 3px;
  }

  .ion{
    padding-right: 15%;
    color: #201872;
    font-size: 1.5em; 
  }
  