    ion-content {
        p{
            color: #201872;
            text-align: center;
            font-size: 1.2em
        }
    }

    ion-card {
        width: 95%;
        height: 90%;
        text-align: center;
        background-color: aliceblue;
        padding: 5px;
        // img{
        //     width: 30vw;
        //     height: 20vh;
        // }
    }

    ion-col {
        margin: 0px 0px;
        padding: 0px
    }

    .col {
        padding: 0px;
        margin: 0px
    }

    .grid {
        margin: 5px 0px;
    }

    .row {
        margin-bottom: 5px;
    }

    .card {
        background-color: rgb(235, 249, 252)
    }

    .title {
        color: #201872;
        text-align: center;
        font-size: .8em;
        font-weight: bold;
    }

 

 

