<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>ABOUT US :</h2>
  <p>
    At Almouneer, <span>our vision</span> is to effectively preserve the vision of diabetic patients through
    personalized quality care, state of the art technology and highly trained staff and our <span>mission</span> is to
    be the leader for all diabetic eye care services in the MENA region.
  </p>

  <h2>
    HISTORY & MISSION :
  </h2>
  <p>
    Almouneer was founded in response to the significant burden of diabetic vision loss in the region. Our co-founder
    <span>Prof. Dr. Noha Khater,</span> Egypt’s highly qualified eye surgeon and retinal disease specialist, aspired to
    protect diabetic patients’ eyes through offering specialized quality services. To bring her vision to life, Dr. Noha
    partnered up with <span>Dr. Rania Kadry,</span> IT expert, to create <span>Egypt’s first specialized diabetic eye
      care clinics</span> equipped with secure and efficient electronic health records.
  </p>

  <h2>BRANCHES :</h2>
  <h4>Dokki Branch</h4>
  <p>
    <ion-icon name="call"></ion-icon> +202 37624276
  </p>
  <p>
    <ion-icon name="location"></ion-icon> Saridar Medical Tower – 92 El Tahrir st. Dokki – Giza Fourth Floor
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13815.770200257573!2d31.210116!3d30.038506000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2e02b8b0ac82375f!2sAl%20Mouneer!5e0!3m2!1sen!2seg!4v1606226796720!5m2!1sen!2seg"
    width="280" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe><br> <br>

  <h4>Shoubra Branch</h4>
  <p>
    <ion-icon name="call"></ion-icon> +202 22033421
  </p>
  <p>
    <ion-icon name="location"></ion-icon> 83 Shoubra St. Metro station Massara – Shoubra Misr
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13810.99759477001!2d31.244897!3d30.072716999999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x600d9222d9fbe65f!2sAl%20Mouneer%20Diabetic%20Retina%20Center!5e0!3m2!1sen!2seg!4v1606227033103!5m2!1sen!2seg"
    width="280" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe><br> <br>

  <h4>Mohandessin Branch</h4>
  <p>
    <ion-icon name="call"></ion-icon> +202 33387030
  </p>
  <p>
    <ion-icon name="location"></ion-icon> 8 Syria Street – Mohandessin – Giza
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6906.864713180803!2d31.198781!3d30.053139!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584130aba46f31%3A0xe1f5c847004194c8!2s8%20Syria%2C%20Gazirat%20Mit%20Oqbah%2C%20Agouza%2C%20Giza%20Governorate%2012655!5e0!3m2!1sen!2seg!4v1606227147526!5m2!1sen!2seg"
    width="280" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>
</ion-content>
