<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Voucher
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p><span>Visit Date :</span> {{History?.VisitDate | date:'dd/MM/yyy'}}</p>
  <p><span>Doctor :</span> {{History?.DoctorName}}</p>
  <p><span>Patient :</span> {{sharedService.profileData?.fNameEn}} {{sharedService.profileData?.middleNameEn}}
    {{sharedService.profileData?.lastNameEn}}</p>
  <p><span>Branch :</span> {{History?.Branch}}</p>
  <p><span>Eye Type :</span> {{History?.EyeTypeName}}</p>
  <p><span>Services :</span> {{History?.Service}}</p>
  <p><span>Contract :</span> {{History?.Contract}}</p>
  
  <p><span>Cost :</span> {{History?.Cost}}</p>
</ion-content>
