ion-content{
    .row{
        color:#201872;
    }
    
    span{
        font-weight: bold;
    }

    h3{
        color:grey;
    }

    ul{
        color:#201872
    }
    h5{
        font-style: italic;
        color: grey;
    }
}