<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-searchbar></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <div padding>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="ARTICLES">
        ARTICLES
      </ion-segment-button>
      <ion-segment-button value="NEWS">
        NEWS
      </ion-segment-button>
      <ion-segment-button value="FEATURES">
        FEATURES
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="segment">  
    <div class="cards-bg" *ngSwitchCase="'ARTICLES'">
      <div class="ion-text-center center" *ngIf="Articles.length < 1">
        <b>Sorry!</b>
        <br>
        <img src="assets/images/empty.png"/>
        <br>
        <p>
          There is no articles yet.
        </p>
      </div> 
      <ion-card *ngFor="let a of Articles">
        <img [src]="photoPath + a?.Photo"/>
        <ion-card-content>
          <ion-card-title>
            {{a.Title}}
          </ion-card-title>
          <p class="customContainer" [class.show]="a.Visible">
            {{a.Body}}
          </p> <span style="color:  #201872;" (click)="a.Visible = !a.Visible">{{ a.Visible ? 'Show less': 'Show More' }}</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div [ngSwitch]="segment">
    <div class="cards-bg" *ngSwitchCase="'NEWS'">
      <div class="ion-text-center center" *ngIf="News.length < 1">
        <b>Sorry!</b>
        <br>
        <img src="assets/images/empty.png"/>
        <br>
        <p>
          There is no news yet.
        </p>
      </div> 
      <ion-card *ngFor="let a of News">
        <img [src]="photoPath + a?.Photo"/>
        <ion-card-content>
          <ion-card-title>
            {{a.Title}}
          </ion-card-title>
          <p class="customContainer" [class.show]="a.Visible">
            {{a.Body}}
          </p> <span style="color:  #201872;" (click)="a.Visible = !a.Visible">{{ a.Visible ? 'Show less': 'Show More' }}</span>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div [ngSwitch]="segment">
    <div class="cards-bg" *ngSwitchCase="'FEATURES'">
      <div class="ion-text-center center">
        <b>Sorry!</b>
        <br>
        <img src="assets/images/empty.png"/>
        <br>
        <p>
          There is no features yet.
        </p>
      </div>     
    </div>
  </div>
</ion-content>
