<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>
      Glasses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center center" *ngIf="!IsLoading && Glasses.length < 1">
    <b>Sorry!</b>
    <br>
    <img src="assets/images/empty.png"/>
    <br>
    <p>
      There is no visits yet.
    </p>
  </div>

  <div *ngIf="Glasses.length > 0">
    <ion-card *ngFor="let item of Glasses" (click)="openDetails(item.Id)">
      <ion-card-header>
        Dr.Name: {{item.Doctor.nameEn}}
      </ion-card-header>
      <ion-card-content>
        Date: {{item.VisitDate | date:'dd/MM/yyy'}}
      </ion-card-content>
    </ion-card>      
  </div>
 
</ion-content>
