<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>
      Glasses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center center" *ngIf="Glasses.length == 0 || !sharedService.patientId">
    <b>Sorry!</b>
    <br>
    <img src="assets/images/empty.png"/>
    <br>
    <p>
      There is no glasses yet.
    </p>
  </div>
  
  <ion-card>
    <ion-card-header>
      Dr.Name
    </ion-card-header>
    <ion-card-content>
      Date: 22/10/2020
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Dr.Name
    </ion-card-header>
    <ion-card-content>
      <span>Date :</span> 22/10/2020
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Dr.Name
    </ion-card-header>
    <ion-card-content>
      Date: 22/10/2020
    </ion-card-content>
  </ion-card>

</ion-content>
