<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>
      Glasses
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-searchbar></ion-searchbar>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center center">
    <b>Sorry!</b>
    <br>
    <img src="assets/images/empty.png"/>
    <br>
    <p>
      There is no glasses yet.
    </p>
  </div> 
</ion-content>
